[run]
include =
    src/
omit =
    __pypackages__/
branch = True

[paths]
source =
    src/


[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    @(abc\.)?abstractmethod
ignore_errors = True
show_missing = True
fail_under = 99
skip_empty = True

[html]
directory = coverage_html_report
show_contexts = True

[json]
pretty_print = True
show_contexts = True
